##игнорируем сам .gitignore
#.gitignore

### игнорируем конкретный тип файлов
## *.html
###… кроме определенного файла
## !special.html
### можно использовать рег.выражения.
## *.[ao]


*.suo
*.user
.vs/
bin/
obj/
packages/
/Text
/README.txt
